# Logs
logs
*.log
pip-log.txt
pip-delete-this-directory.txt


# Runtime
pids
*.pid
*.seed
*.pid.lock


# Virtual envs
api-env/
env/
venv/
.env/


# Cache
.cache
__pycache__/
*.py[cod]


# Configs
.ropeproject
local_settings.py
settings.ini


# Artifacts
*.tgz
*.mmdb
*$py.class
*.so


# Unit tests / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
report.xml
*.cover
.pytest_cache/


# Translations
*.mo
*.pot


# IPython
profile_default/
ipython_config.py


# local env files
.env
.env.local
.env.*.local


# Editor directories and files
.idea/
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.*~
*.bak
settings.env
*.swp